.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #f6f3ff;
  box-shadow: 2px 2px 10px #bababa;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}
.library.active {
  transform: translateX(0);
  opacity: 1;
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;

  img {
    width: 30%;
  }

  .library-song-info {
    margin-left: 1rem;
    h3 {
      font-size: 1.01rem;
    }
    h4 {
      font-size: 0.8rem;
    }
  }
  &:hover {
    background-color: #e0e4ff;
  }
}
.selected {
  background-color: #c9d0ff;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #d3dbff;
  border-radius: 20px;
  border: transparent;
}
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
